.autotext_temp.md
.venv/
__pycache__/
reference.docx
Advanced2.docx
Samples/Meetings/Business Meetings Essentials for Businesspeople units/Unit*/
Samples/Meetings/Facilitation Skills for International Meetings (AS Online) units/Unit*/
textmaker/piper_voices/
mofa situations/audio/tuning/
textmaker/piper_voices/
mofa situations/audio/tuning/
